head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="description" content="")
  meta(name="format-detection" content="telephone=no")
  meta(name="HandheldFriendly" content="True")
  meta(http-equiv="Cache-Control" content="no-cache")
  title title
  link(rel="stylesheet" href="./css/libscss.css")
  link(rel="stylesheet" href="./css/main.css")
  link(rel="stylesheet" href="./css/ie.css")
  link(rel="icon" type="image/png" href="./images/favicon.png")
  script(src="https://api-maps.yandex.ru/2.1/?apikey=7417a44d-8752-440e-81f2-799bc45cf254&lang=ru_RU" type="text/javascript")
